@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


#map {
    margin-top: 20px;
    height: 500px;
}

html body {
    background-color: #A9BCD0;
    font-family: 'Montserrat', sans-serif !important;
color:white !important;
 
}

#map {
    border-radius: 2%;
    width: 750px;
    height: 550px;
}

.container{
 left: 50%;

top:650px;
position:absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@font-face {
    font-family: custom;
    src: url("https://raw.githubusercontent.com/Cmatttt/Google-maps-api-test/master/assets/fonts/SteelrDemo.ttf") format("truetype");
}

h1 {
    font-family: custom, Arial;
}

.form-control {
   font-family: 'Montserrat', sans-serif !important;
width: 750px;
    background-color: transparent !important;
       border-top: none !important;
       border-left: none !important;
        border-right: none !important;
        color:white !important;
        border-style: solid;
        border-width:  1px;
        border-color: white;
         font-size:24pt;

}

input {
 outline:none !important;
}